<div class="arlo_tm_leftpart">
	<div class="inner">
		<div class="logo">
			<a href="#">
				<img src="https://www.google.com/webhp?hl=en&ictx=2&sa=X&ved=0ahUKEwjDgovs6Nr0AhU3k1YBHYuPCZYQPQgI" alt="Logo">
			</a>
		</div>
		<div class="menu scrollable" style="height: 697px; overflow: hidden; outline: none;">
			<ul class="anchor_nav">
				<li (click)="homeClicked($event)" [ngClass]="isHomeEnabled ? 'current' : ''">
					<a href="#home">Home</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#resume">Resume</a>
				</li>
				<li (click)="portfolioClicked($event)" [ngClass]="isPortfolioEnabled ? 'current' : ''">
					<a href="#portfolio">Portfolio</a>
				</li>
				<li>
					<a href="#blog">Blog</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
		<div class="bottom">
			<ul>
				<li>
					<a href="#">
						
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>