/* Git section */
.github-graph {
    margin-bottom: 30px;

    .js-calendar-graph-svg {
        max-width: 100%;
    }
}
  
.ghfeed {
    height: 600px;

    *, *:before, *:after {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
}