<div id="portfolio" [ngClass]="isPortfolioEnabled ? 'arlo_tm_section is_active' : 'arlo_tm_section'">
	<div class="arlo_tm_portfolio">
		<div class="container">
			<div class="arlo_tm_main_title">
				<span>Portfolio</span>
				<h3>Featured Works</h3>
			</div>
			<div class="portfolio_inner">
				<div class="arlo_tm_portfolio_titles">
					<span class="work__cat">Branding</span>
				</div>
			</div>
			<div class="portfolio_filter">
				<ul>
					<li>
						<a href="#" class="current" data-filter="*">All</a>
					</li>
					<li>
						<a href="#" data-filter=".desktop">Desktop App</a>
					</li>
					<li>
						<a href="#" data-filter=".mobile">Mobile App</a>
					</li>
					<li>
						<a href="#" data-filter=".web">Web App</a>
					</li>
					<li>
						<a href="#" data-filter=".ml">ML Model</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>