/* Blog Section */
.blog .item {
  margin-bottom: 30px; }

.blog .title {
  font-size: 18px;
  line-height: 1.3; }
  .blog .title a {
    color: #778492; }
  .blog .title a:hover {
    color: #5f6b77; }
  .blog .title :last-child {
    margin-bottom: 0; }
